{% extends "index.html" %}
{% block content %}
<div class="h-full flex justify-center flex-col">
  <div class="bg-gray-600 m-0 m-auto p-4 rounded w-1/4 ">
    <form method="POST" action="{% url 'create_post' %}" class="w-full h-full flex flex-col gap-2">
      {% csrf_token %}
      <div class="text-center">
        <i class="fa-regular fa-circle-post text-[75px]"></i>
      </div>
      <label for="title">Title kiriting</label>
      <input type="text" name="title" placeholder="title" id="title" required/>
      
      <label for="article">Maqolani kiriting</label>
      <textarea type="text" name="content" placeholder="article" id="article" required></textarea>

      {% if error %}
        <p style="color: red;">{{ error }}</p>
      {% endif %}

      <button type="submit" class="bg-blue-500 text-white py-2 rounded">Yuborish</button>
    </form>
  </div>
</div>
{% endblock %}
