{% extends "index.html" %}
{% block content %}
<div class="h-full flex justify-center flex-col">
  <div class="bg-gray-600 m-0 m-auto p-4 rounded w-1/4">
    <form method="POST" class="w-full h-full flex flex-col gap-2">
      {% csrf_token %}
      <div class="text-center">
        <i class="fa-regular fa-circle-user text-[75px]"></i>
      </div>
      <h1 class="text-center">Ro‘yxatdan o‘tish</h1>
      <input type="text" name="username" class="border rounded h-[40px] p-2" placeholder="Username" required>
      <input type="password" name="password" class="border rounded h-[40px] p-2" placeholder="Parol" required>
      <input type="password" name="password2" class="border rounded h-[40px] p-2" placeholder="Parolni takrorlang" required>
      <button type="submit" class="border rounded h-[40px] p-2 bg-blue-500 text-white hover:bg-blue-600 transition">Ro‘yxatdan o‘tish</button>
      {% if error %}
        <p class="text-red-400 text-sm text-center">{{ error }}</p>
      {% endif %}
    </form>
  </div>
</div>
{% endblock %}
